// fonts
$title-font: 'Articulat CF', sans-serif;
$primary-font: 'Segoe UI', 'Ubuntu', sans-serif;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;

// colors
$creamy: #f9f3eb;
$creamy-white: #fefcf9;
$black: #151515;
$kinda-black: #343434;
$green: #4dae51;
$green15: #ddf2e7;
$black40: #a1a1a1;
$black40x: #d9d9d9;
$cream-soup: #dfdbd1;

// spacing
$spacing: 8;
